{% extends "registration/layout.html" %}

{% block content %}

{% if validlink %}
    <p>Please Enter (and confirm) you new password.</p>
    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table>
            <tr>
                <td>{{ form.newpassword1.errors }}
                    <label for="id_new_password1"> New password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.newpassword2.errors }}
                    <label for="id_new_password2"> Confirm password:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>            
            <tr>
                <td></td>
                <td><input type="submit" value="Change my password" /></td>
            </tr>            
        </table>
    </form>
{% else %}
    <h1>Password reset failed</h1>
    <p>The password reset link was invalid.</p>
{% endif %}

{% endblock content %}